@if (loading()) {
  <div class="fullscreen-loader">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>
} @else if (hasError()) {
  <div class="empty-state">
    <p>Unable to load products. Please try again.</p>
  </div>
} @else {
  <h1 class="table-title">All products</h1>

  <form [formGroup]="filterForm" class="filters" (submit)="applyFilters()">
    <label for="productsOnPage">Items on page</label>
    <input formControlName="limit" id="productsOnPage" class="input" type="number" min="1" />

    <label for="category">Category</label>
    <select formControlName="category" id="category" name="category">
      <option value="">All categories</option>
      @for (item of categories; track item) {
        <option [value]="item">{{ item }}</option>
      }
    </select>

    <button type="submit">Apply</button>
    <button type="reset" (click)="resetFilters()">Reset</button>
  </form>

  @if (products().length) {
    <table class="products-table">
      <thead class="products-table__head">
        <tr >
          <th scope="col">ID</th>
          <th scope="col" class="col-title">Name</th>
          <th scope="col" (click)="toggleSort('price')">
            Price
            @if (sortBy() === 'price') {
              <span aria-hidden="true">{{ order() === 'asc' ? '↑' : '↓' }}</span>
            }
          </th>
          <th scope="col" (click)="toggleSort('rating')">
            Rating
            @if (sortBy() === 'rating') {
              <span aria-hidden="true">{{ order() === 'asc' ? '↑' : '↓' }}</span>
            }
          </th>
          <th scope="col" (click)="toggleSort('stock')">
            In stock
            @if (sortBy() === 'stock') {
              <span aria-hidden="true">{{ order() === 'asc' ? '↑' : '↓' }}</span>
            }
          </th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th>add to cart</th>
        </tr>
      </thead>

      <tbody class="products-table__body">
        @for (product of products(); track product.id) {
          <tr class="products-table__row clickable" [class.top-product]="product.rating > 4.5" (click)="goToProduct(product.id)">
            <td> @if (product.rating > 4.5) {
                <span class="badge">TOP</span>
              } {{ product.id }}</td>
            <td class="products-table__title">{{ product.title }}</td>
            <td>{{ product.price }} $</td>
            <td>{{ product.rating }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.category }}</td>
            <td>
              <button class="product-table__addToCart" (click)="cartStore.updateCart({...product, quantity: 1}); $event.stopPropagation()" type="button">+</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="empty-state">
      <p>No products found</p>
    </div>
  }
}

@if (!loading() && !hasError() && totalPages() > 1) {
  <app-pagination-component
    [page]="page()"
    [totalPages]="totalPages()"
    [visiblePages]="visiblePages()"
    (pageChange)="onPaginationChange($event)"
  ></app-pagination-component>
}
