<header class="site-header">
  <div class="header-inner">
    <a class="brand" [routerLink]="['/']" >Lavanda Shop</a>

    <nav class="nav">
      <a class="nav-link" [routerLink]="['/product']"  routerLinkActive="active">Products</a>
      <a class="nav-link" [routerLink]="['/about']"  routerLinkActive="active">About Us</a>
      <a class="nav-link" [routerLink]="['/reviews']" routerLinkActive="active">Reviews</a>
      <a class="nav-link" [routerLink]="['/faq']" routerLinkActive="active">FAQ</a>
    </nav>

    <a class="cart-btn" href="#">Cart</a>
  </div>
</header>